:root {
  --primaryColor: #219ebc;
  --secondaryColor: #023047;
  --accentColor: #fb8500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  background: linear-gradient(var(--primaryColor), var(--accentColor));

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: var(--secondaryColor);
  width: 450px;

  padding: 2rem;
  border-radius: 10px;

  display: grid;
  gap: 0.5rem;
  /* grid-template-areas: ; */
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-areas:
    "display display display display"
    "ac c per divide"
    "b7 b8 b9 x"
    "b4 b5 b6 minus"
    "b1 b2 b3 plus"
    "b0 dot equals equals";
}

.calculator > div {
  height: 50px;
  background-color: var(--primaryColor);
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.calculator > div:hover {
  background-color: var(--accentColor);
  transform: scale(1.06);
}

.calculator > .display {
  grid-area: display;
  justify-content: flex-end !important;
  padding-right: 1rem;
  font-size: 2rem;
  font-weight: 550;
}

/* Do not add any default hover effect */
.calculator > .display:hover {
  background-color: var(--primaryColor);
  transform: none;
  cursor: default;
}

.btn-ac {
  grid-area: ac;
}

.btn-c {
  grid-area: c;
}

.btn-per {
  grid-area: per;
}

.btn-plus {
  grid-area: plus;
}

.btn-minus {
  grid-area: minus;
}

.btn-x {
  grid-area: x;
}
.btn-dot {
  grid-area: dot;
}
.btn-divide {
  grid-area: divide;
}
.btn-equals {
  grid-area: equals;
}

.btn-1 {
  grid-area: b1;
}
.btn-2 {
  grid-area: b2;
}
.btn-3 {
  grid-area: b3;
}
.btn-4 {
  grid-area: b4;
}
.btn-5 {
  grid-area: b5;
}
.btn-6 {
  grid-area: b6;
}

.btn-7 {
  grid-area: b7;
}

.btn-8 {
  grid-area: b8;
}

.btn-9 {
  grid-area: b9;
}

.btn-0 {
  grid-area: b0;
}

.calculator .prank {
  background-color: red;
  color: white;
  animation: shake 0.5s ease-in;
}

@keyframes shake {
  0% {
    transform: translateX(10px);
  }
  50% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}
